.container-dashboard {
  padding: 25px 50px;
}
.flexed-items {
  display: flex;
  width: 100%;
  height: 300px;
}

.flexed-houses {
  display: flex;
  width: 75%;
  height: 300px;
}

.houses-items {
  width: 50%;
  background-color: white;
  border-radius: 5px;
  margin: 5px;
}

.houses-items.flat {
  width: 50%;
  background-color: #F4F4F4;
  border-radius: 5px;
    a {
    text-decoration: none;
    color: white;
  }
}


.half-items {
  width: 50%;
  background-color: white;
  border-radius: 5px;
  margin: 5px;
}

.no-hover-text-decoration {
  text-decoration: none !important;
}

.half-items.flat {
  width: 50%;
  background-color: #F4F4F4;
  border-radius: 5px;
    a {
    text-decoration: none;
    color: white;
  }
}

.scroll-box {
  overflow: scroll;
  height: 70%;
}

.flat-card {
  height: 100%;
  padding: 30px;
  // background-image: linear-gradient(-225deg, rgba(230,230,230,0.8) 0%, rgba(250,250,250,0.8) 50%), asset-url('background.jpg');
  background-size: cover;
  color: white;
  text-shadow: 1px 1px gray;
  border-radius: 5px;
  background-color: #F4F4F4;
  background-position:50% 50% !important;
}

.flat-booking {
  height: 100%;
  background-color: #F4F4F4;
}


#query {
  border: 1px solid #57771E;
  font-style: italic;
}

.house-row {
  padding-left: 20px;
}
