<h1>Explore the jungle with Junglebnb</h1>

<h3 class="text-left">Jungle Flats</h3>
<p>Explore some of the best-reviewed jungle flats in the world</p>
<div class="container">
  <div class="row">
    <% @flats.each do |flat| %>
    <div class="col-md-3">
      <div class="card"

      <div class="card-category"><%=flat.price %></div>
      <div class="card-description">
        <%= flat.name %>
        <%=flat.location %>
        <%= link_to flat.name, flat_path(flat.id) %>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>










