<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Upload a new space</h1>
      <%= render 'form' %>
      <%= link_to 'Back', flats_path %>
    </div>
  </div>
</div>
