<h1>Bookings for:</h1>

<h1><%= @flat.id %></h1>
<h1><%= @flat.name %></h1>



<% @bookings.each do |booking| %>
  <ul>
    <li>
      <p>Booking Id: <%= booking.id %></p>


    </li>
  </ul>
  <% end %>
