<h1>Dashboards#show</h1>
<p>Find me in app/views/dashboards/show.html.erb</p>


<% @my_flats.each do |flat| %>
<h1><%= flat.name %></h1>
<% end %>


<% @my_bookings.each do |booking| %>
<p><%= booking.total_price %></p>
<% end %>
