/* Your banner CSS file */
.banner {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(-225deg, rgba(255,255,255,0.6) 0%, rgba(200,200,200,0.6) 50%), asset-url('jungle.jpg');
  background-size: cover;
  height: 50vh;
  align-items: center;
  background-position:50% 50% !important
}

.banner-content {
  color: white;
  margin: 10px;
}

.banner-content h1 {
  font-size: 50px;
  font-weight: bold;
}

.banner-content h2 {
  font-weight: lighter;
  margin-bottom: 50px;
}

.banner-content a {
  text-decoration: none;
}

