/* Your banner CSS file */
.banner {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(-225deg, rgba(100,100,100,0.5) 0%, rgba(100,100,100,0.5) 0%), asset-url('forest.jpg');
  background-size: cover;
  height: 50vh;
  align-items: center;
  background-position:50% 50% !important;
}

.banner.flat-banner {
  position: relative;
}

.banner.flat-banner h1 {
  position: absolute;
  top: 10px;
  left: 10px;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px #577626;
}

.banner.booking-banner {
  height: 100vh;
}

.banner.booking-banner h2{
  text-align: center;
}



.banner-content {
  color: white;
  margin: 10px;
}

.banner-content h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 1px 1px grey;
}

.banner-content h2 {
  font-weight: lighter;
  margin-bottom: 50px;
  text-shadow: 1px 1px grey;
}

.banner-content a {
  text-decoration: none;
}

