.card {
  height: 215px;
  width: 275px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position:50% 50% !important;
  color: white;
  position: relative;
  margin-bottom: 20px;
}

.card:hover {
  background-image: linear-gradient(rgba(200,200,200,0.2), rgba(200,200,200,0.2));
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  text-shadow: 1px 1px #577626;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 20px;
}
.card-description p {
  font-size: 15px;
  opacity: 0.8;
  font-weight: lighter;
  color: white;
  text-decoration: none;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
  color: black
}

.card a {
  color: white;
}
