.booking-container {
  background: white;
  opacity: 0.8;
  padding: 20px 35px;
  width: 900px;
  border-radius: 5px;

}

.house-container {
  padding: 40px;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.cards-container {
padding: 25px 20px;
margin-left: 20px;
}

.container {
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;

}
