.booking-container {
  background: white;
  opacity: 0.8;
  padding: 20px 35px;
  width: 900px;
  border-radius: 5px;

}

.container {
  justify-content: space-between;
}

.cards-container {
  margin-left: 18px;
  margin-right: 18px;
}
