.booking-container {
  background: white;
  opacity: 0.8;
  padding: 20px 35px;
  width: 900px;
  border-radius: 5px;

}

.cards-container {
padding: 25px 20px;
margin-left: 20px;
}

.container {
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;

}
