.review {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  a {
    text-decoration: none;
    color: black;
  }
}
.review:last-child {
  border-bottom: none;
}
.review-body {
  flex-grow: 1;
}
.review-name {
  padding-left: 30px;
  padding-right: 30px;

}
.review-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.review-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.review-body {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 700px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.review-body {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 700px;
  color: rgba(0,0,0,0.4);
}
.review-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.review-body p {
  margin: 6px 0;
}
.review-status {
  font-size: 14px;
  min-width: 50px;
  padding-right: 30px;
  padding-left: 50px;
  font-weight: bold;
}

.review-status p {
  padding-right: 10px;
  padding-left: 50px;
  text-align: right;
}
