  <div class="banner">
    <div class="banner-content text-center">
      <h1>WELCOME TO THE JUNGLE</h1>
      <h2>Rent unique places to stay from local hosts in 190+ countries.</h2>
      <a href="#" class="btn-green">How it works</a>    </div>
    </div>
  </div>
